{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>LITReview</title>
</head>
<body>
    <header>
        <div class="flex justify-between items-center m-5 p-6 bg-custom-gradient rounded container_header">
            <div class="flex-1"></div>
            <h1 class="text-3xl font-bold text-center title_header">LITReview</h1>
            <div class="flex-1 flex justify-end">
                {% if request.path != '/' and request.path != '/register/' %}
                    <nav class="flex space-x-4  nav_header">
                        <a href="{% url 'flux' %}" class=" hover:text-cyan-600 font-medium ">Flux</a>
                        <a href="{% url 'post' %}" class=" hover:text-cyan-600 font-medium ">Posts</a>
                        <a href="{% url 'subscribes' %}" class=" hover:text-cyan-600 font-medium ">Abonnements</a>
                        <a href="{% url 'logout' %}" class=" hover:text-cyan-600 font-medium ">Se déconnecter</a>
                    </nav>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="flex justify-center">
        {% block content %}{% endblock %}
    </main>
</body>
</html>