
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="messages">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="register_section">
        <h2>Inscrivez-vous maintenant</h2>
        <a href="{% url 'register' %}"><button>S'inscrire</button></a>
    </div>

    <div class="login_section">
        <h2>Connectez-vous</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter">
        </form>
    </div>

    
{% endblock %}
