{% extends "base.html" %}

{% load static tailwind_tags %}

{% block content %}
    <div class=" container_post">
        <div class="mb-8 container">
            {% if items %}
                {% for item in items %}
                    {% if item.headline %}
                        <article class=" border-4 border-cyan-600 review_container">
                            <div class="mb-2 review_header">
                                Vous avez publié une critique - {{ item.time_created|date:"j F Y" }}
                            </div>
                            <div class="review_info">
                                <h2>{{ item.headline }}</h2>
                                <p class="review_rating">
                                    {% for i in "12345" %}
                                        <span class="{% if item.rating|default:0 >= forloop.counter %}filled{% endif %}">&#9733;</span>
                                    {% endfor %}
                                </p>
                                <p class="review_body">{{ item.body }}</p>
                            </div>
                        </article>
                    {% else %}
                        <article class="border-4 border-cyan-600 ticket_container">
                            <div class="  ticket_header">
                                    Vous avez publié un ticket - {{ item.time_created|date:"j F Y" }}
                            </div>
                            <h2>Titre: {{ item.title }}</h2>
                            <p>Description: {{ item.description }}</p>
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="Image de {{ item.title }}">
                            {% endif %}

                            <div class="flex space-x-4 mt-4">
                                <a href="{% url 'edit_ticket' item.id %}" class="bg-cyan-500  px-4 py-2 rounded">Modifier</a>
                                <form action="{% url 'delete_ticket' item.id %}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce ticket ?');">
                                    {% csrf_token %}
                                    <button type="submit" class="bg-cyan-500  px-4 py-2 rounded">Supprimer</button>
                                </form>
                            </div>
                        </article>

                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Aucun item trouvé.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
