{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="register-container mt-8 w-2/4">
    <h2 class="flex justify-center font-semibold text-2xl m-10">Inscrivez-vous</h2>
    <form method="post">
        {% csrf_token %}
        <div class="register-username mb-10 w-full">
            {{ form.username }}
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="register-password1 mb-10 w-full">
            {{ form.password1 }}
            {% for error in form.password1.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="register-password2 mb-10 w-full">
            {{ form.password2 }}
            {% for error in form.password2.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="register_buttons flex justify-end gap-4">
            <button type="button" onclick="window.history.back()" class="bg-tertiary font-semibold hover:bg-secondary rounded py-2 px-7"title="Retourner">Retourner</button>    
            <input type="submit" value="S'inscrire" class="bg-tertiary font-semibold hover:bg-secondary rounded py-2 px-7" title="S'inscrire">
        </div>
    </form>
</div>
{% endblock %}